/**
 * Main Styles for theme.
 */

// sass main.scss ../assets/css/style.min.css --style=compressed

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;


$theme-green        : #124850;
$theme-light-green  : #06B976;
$theme-yellow       : #D69B41;
$theme-black        : #141414;

$theme-pink   : #F776CF;
$theme-violet : #7F1F72;
$theme-gray   : #333333;
$theme-gray-2 : #4F4F4F;
$theme-gray-3 : #828282;
$theme-gray-4 : #F2F2F2;

$theme-font-1: "Inter", sans-serif;
$theme-font-2: "Fira Sans", sans-serif;

$img-directory: "img/";

@import 'normalize';
@import 'mixins';
@import 'fonts';
@import 'skeleton';
@import 'body-changes';
